                                    <table id="user-table">
                            
                                <!-- USERNAME COLUMN-->
                                <tr>
                                    <td>Username</td>
                                    <td>
                                        <% if (user.local) { %>
                                                <%= user.local.username %>
                                        <% } else { %>
                                            <a href="/connect/local" class="btn btn-default">Connect Local</a>
                                        <% } %>                                
                                    </td>
                                </tr>                                 
                                
                                <!-- PASSWORD COLUMN-->
                                <tr>
                                    <td>Password</td>
                                    <td>
                                        <% if (user.local) { %>
                                                <%= user.local.password %>
                                        <% } else { %>
                                            <a href="/connect/local" class="btn btn-default">Connect Local</a>
                                        <% } %>                                
                                    </td>
                                </tr>                                
                                
                                <!-- EMAIL COLUMN-->
                                <tr>
                                    <td>Email</td>
                                    <td>
                                        <% if (user.local) { %>
                                                <%= user.local.email %>
                                        <% } else { %>
                                            <a href="/connect/local" class="btn btn-default">Connect Local</a>
                                        <% } %>                             
                                    </td>
                                </tr>                                
                                
                                <!-- STUNUM COLUMN-->
                                <tr>
                                    <td>Student Number</td>
                                    <td>
                                        <% if (user.local) { %>
                                                <%= user.local.stunum %>
                                        <% } else { %>
                                            <a href="/connect/local" class="btn btn-default">Connect Local</a>
                                        <% } %>                           
                                    </td>
                                </tr>                                
                                
                                <!-- First Name COLUMN-->
                                <tr>
                                    <td>First Name</td>
                                    <td>
                                        <% if (user.local) { %>
                                                <%= user.givenname %>
                                        <% } else { %>
                                            <a href="/connect/local" class="btn btn-default">Connect Local</a>
                                        <% } %>            
                                    </td>
                                </tr>
                                
                                <!-- Last Name COLUMN-->
                                <tr>
                                    <td>Last Name</td>
                                    <td>
                                        <% if (user.local) { %>
                                                <%= user.familyname %>
                                        <% } else { %>
                                            <a href="/connect/local" class="btn btn-default">Connect Local</a>
                                        <% } %>                                
                                    </td>
                                </tr>
                                        
                                <!-- GENDER COLUMN-->
                                <tr>
                                    
                                    <td>Gender</td>
                                    <td>
                                        <% if (user.local) { %>
                                                <%= user.gender %>
                                        <% } else { %>
                                            <a href="/connect/local" class="btn btn-default">Connect Local</a>
                                        <% } %>  
                                    </td>
                                </tr>
                                
                                <!-- BIRTH COLUMN-->
                                <tr>
                                    <td>Birthdate</td>
                                    <td>
                                        <% if (user.local) { %>
                                                <%= user.local.birthday %>
                                        <% } else { %>
                                            <a href="/connect/local" class="btn btn-default">Connect Local</a>
                                        <% } %>                            
                                    </td>
                                </tr>
                            
                            </table>