<!DOCTYPE html>
<html lang="en">

<!-- Head of the html file -->
<head>
    <% include ../../partials/title %>

    <!-- Importing the main-style headers -->
    <% include ../../partials/main-style %>

</head>

<!-- Body of the html file -->
<body>

    <div id="wrapper">

         <!-- Naivgation Bar: TOP -->
        <% include ../../partials/navigation-ui %>

        <br><br><br><br>

        <div id ="content-con" class="container">
            <div class="row row-offcanvas row-offcanvas-left">

                <!-- Sidenav and page content-->
                <% include ../../partials/sidenav-main %>

                <br>

                <!-- Main content of the page -->
                <div id="content" class="col-xs-13 col-md-9">     
                    
                        <!-- Page Username header-->
                        <br>
                        <div id="image" >
                            <% if (user) { %>
                                   <img class="img-thumbnail" src=<%= user.profilePicture %>> 
                            <% } else { %>
                                <h1>User is null for some reason!</h1>
                            <% } %>
                        </div>
                           
                    <br>
                    <br>
                    <br>

                    <!-- Fetch individual -->
                        
                    <form id="submit-contact" action="/userprofile" method="post">
                    
                    
                        <% if (user) { %>
                               <h1 style="float: left;"><%- user.local.username %> <button id="sub" type="submit" class="btn btn-default">Add to Contacts</button></h1>
                            
                        <% } else { %>
                            <h1>User is null for some reason!</h1>
                        <% } %>
                    
                        
                        <div id="secret">
                            <input type="text" class="form-control" value="<%= user.profilePicture %>" name="img" placeholder="http://">                            
                            <input type="text" class="form-control" value="<%= user.givenname + " " + user.familyname %>" name="name" placeholder="First Last">                            
                            <input type="text" class="form-control" value="<%= user._id %>" name="id" placeholder="id">
                            <!--<p id="contacts_img" name="c_img"><%= user.profilePicture %></p>
                            <p id="contacts_name" name="c_name"><%= user.givenname + " " + user.familyname %></p>
                            <p id="contacts_id" name="c_id"><%= user._id %></p>-->
                        </div><!-- End of secret div-->
                        
                    
                    </form><!-- END OF FORM -->   
                    
                    
                    
                    
                    <br><br>
                    <br><br><br>

                    <!--  About section -->
                    <div id="about">
                        <h1 id="user-about">User Details</h1>
                        <div id="about-content">

                            <div class="col-xs-4 col-md-2">
                                <p>
                                <strong>Name</strong>:<br>
                                <strong>Gender</strong>:<br>
                                <strong>Birthday</strong>:<br>
                                <strong>Email</strong>:<br>
                                <strong>Status</strong>:<br>
                                </p>
                            </div>

                            <div class="col-xs-14 col-md-10">
                                
                                <% if (user) { %>
                                <p><%- user.givenname + " " + user.familyname %><br>
                                <%- user.gender %><br>
                                <%- user.local.birthday %><br>
                                <%- user.local.email %><br>
                                <%- user.role %></p><br>
                                
                                <% } else { %>
                                    <h1>User is null for some reason!</h1>
                                <% } %>
                                

                            </div>
                            
                            <br><br>
                            <br><br>
                            <br>

                        </div><!-- End of user about content div -->

                    </div><!-- End of user about div -->  
                        
                    <br>

                    <!--  About section -->
                    <div id="interests">
                        <h1 id="user-interests">Interests</h1>
                        <div id="interests-content">
                            <br>
                                <% if (user) { %>
                                    <%- user.specialty %>
                                <% } else { %>
                                    <h1>User is null for some reason!</h1>
                                <% } %>
                            <br>
                            <br>


                        </div><!-- End of user interests content div -->

                    </div><!-- End of user interests div -->

                    <br>

                    <!--  About section -->
                    <div id="blog">
                        <h1 id="user-blog">About</h1>
                        <div id="blog-content">

                            <br>

                            <% if (user) { %>
                                <!-- Fetching content from user schema-->
                                <%- user.about %>
                            <% } else { %>
                                <h1>User is null for some reason!</h1>
                            <% } %>
                    

                            <br><br>

                            <!-- Implement this-->

                        </div><!-- End of user interests content div -->

                    </div><!-- End of user interests div -->

                    <br>

                </div> <!-- ENd of main content div-->

            </div><!-- End of row div-->
        </div>
    </div>

</body>
    <script src="assets/js/custom.js"></script>   
    <script src="javascript/admin/usersview.js"></script>
    <script src="assets/js/menteeview.js"></script>
    
    <script>
    
        $('#sub').on('click', function(event) {
            
            var name = document.getElementById("contacts_name");
            var pic = document.getElementById("contacts_img");
            var id = document.getElementById("contacts_id");
            
            var URL = 'mongodb://localhost/MentorRock';
            
            var dat = "{ " + 
                            "name: " + name + "; " +
                            "pic: " + pic + "; " +
                            "id: " + id
                        "}";
            
            $.ajax({
              url: URL,
              type: 'POST',
              data: JSON.stringify(dat),
              processData: false,
              contentType: "application/json",
                success: function(data) {
                  console.log('success --> data :', data);
                },
                error:   function(xhr, text, err) {
                  console.log('error: ',err);
                  console.log('text: ', text);
                  console.log('xhr: ',xhr);
                  console.log("there is a problem whit your request, please check ajax request");
                }
        }
    
    
    </script>
    
    
</html>
